<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login for Jobs!</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/toastr/2.1.2/build/toastr.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h3 class="mb-5">
                <em>That will be a huge step for your career!</em>
            </h3>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-5">
                        <h3>Sign In</h3>
                        <form name="loginForm" th:action="@{/login}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" id="username" name="username" class="form-control"
                                           placeholder="Your Username"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="password" name="password" class="form-control"
                                           placeholder="Your Password"/>
                                </div>
                                <button type="submit" class="btn btn-primary btn-xl">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/toastr/2.1.2/toastr.js}"></script>
    <script th:if="${param.error}">
        toastr.error("", "Invalid username or password!");
    </script>
</body>
</html>