<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:replace="fragments/header :: head"></object>
    <title>Upload Resume</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div style="background-color: #41444D">
        <div class="container">
            <form method="POST" th:action="@{'/users/uploadresume/'}" enctype="multipart/form-data">
                <div class="container my-1 py-3">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group overflow-hidden">
                                <label>Upload your resume (.pdf - max 1mb)</label>
                                <input type="file" class="btn btn-outline-light" name="resume" required accept=".pdf"/>
                                <input type="submit" class="btn btn-lg btn-success mt-3" value="Upload Resume">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <script th:if="${param.resumeerror}">
        toastr.error("", "Choose valid file type!");
    </script>
    <script th:if="${param.haveto}">
        toastr.info("", "You have to upload resume!");
    </script>
</body>
</html>