<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:replace="fragments/header :: head"></object>
    <title>Jobs</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/job-index.css}"/>
    <link rel="stylesheet" th:href="@{/css/detail.css}"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="content-wrap my-1">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Applicant Resume</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="app : ${applications}">
                <td th:text="${app.getJob().getTitle()}"></td>
                <td>
                    <form th:action="@{'/users/' + ${app.getUser().getId()} + '/showresume'}" method="POST"
                          target="_blank" style="display:inline;">
                        <input type="submit" class="btn btn-secondary ml-3" value="Resume">
                    </form>
                </td>
                <td>
                    <a class="btn btn-info" th:onclick="'openDetail(' + ${app.getId()} + ')'"
                       th:id="${app.getId()}">Details</a>

                    <form th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" method="POST"
                          th:action="@{'/applications/' + ${app.getId()} + '/delete'}" style="display:inline;">
                        <input type="submit" class="btn btn-danger ml-3" value="Delete"
                               th:onclick="return confirm('Are you sure you want to delete this application?')">
                    </form>
                </td>
            </tr>
            <tr th:if="${applications.getTotalElements() == 0}">
                <td colspan="4"><h5 style="color:#ff1713;">There is no application.</h5></td>
            </tr>
            </tbody>
        </table>

        <div class="container pb-2" th:if="${applications.getTotalElements() != 0}">
            <ul class="nav nav-pills">
                <li class="nav-item" th:each="i : ${#numbers.sequence(0, applications.getTotalPages() - 1)}">
                    <a th:href="@{/applications/(page=${i})}" th:text="${i}" class="nav-link font-weight-bolder" style="color:white"
                       th:classappend="${currentPage}==${i} ? 'active' : ''"></a>
                </li>
            </ul>
        </div>

        <div class="modal fade" id="detail-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="job-content"></div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form th:if="${#authorization.expression('hasAuthority(''USER'')')}"
                              style="display:inline;" th:id="applyForm">
                            <input type="submit" class="btn btn-lg btn-info" value="Apply">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script>
        function openDetail(currentId) {
            $.ajax({
                type: "POST",
                url: '/applications/' + currentId + '/detail',
                data: {id: currentId},
                success: function (data) {
                    $('#job-content').html(data);
                    $('#detail-modal').modal('show');
                }
            });
        }
    </script>
    <script th:if="${appdeleted}">
        toastr.success("", "Application deleted successfully!");
    </script>
</body>
</html>