<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <footer class="page-footer font-small bg-dark" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-5">
                    <div class="mb-5 flex-center text-center">
                        <a class="li-ic" href="https://www.linkedin.com/in/enesoral/" target="_blank" style="color:#ffff00">
                            <i class="fa fa-linkedin fa-lg white-text pr-pd-5 pr-3 fa-2x"></i>
                        </a>

                        <a class="gi-ic" href="https://github.com/enesoral" target="_blank" style="color:#ffff00">
                            <i class="fa fa-github fa-lg white-text fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright text-center py-3" style="color:white">
            <a href="http://www.enesoral.com/" target="_blank" style="color:#d4c602">enesoral.com</a> | © 2020
            Copyright
        </div>

        <script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/toastr/2.1.2/toastr.js}"></script>
    </footer>
</body>
</html>