<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/toastr/2.1.2/build/toastr.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top text-uppercase main-nav" th:fragment="header">
        <div class="container">
            <a class="navbar-brand logo" th:href="@{/}">Simple HR</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link py-3 px-0 px-lg-3" th:href="@{/jobs/}">Jobs
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li th:if="${#authorization.expression('hasAuthority(''USER'')')}" class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3" th:href="@{/applications/mine}">My Applications</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3" th:href="@{/applications/index}">Applications</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3" th:href="@{/profile/show}">Profile</a>
                    </li>
                    <a class="btn btn-primary btn-logout white-text" th:href="@{/logout}">Logout</a>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>